body {
	overflow-x: hidden;
	height: 100%;
	width: 100%;
}
.large-question {
	position: absolute;
	top: 0;
	background: rgba(0,0,0,0.8);
	border: 1px solid #DDD;
	width: 77%;
	font-size: 2em;
	padding: 10px;
	color: #FFF;
	z-index: 1;
	box-shadow: 1px 1px 1px #DDD;
	border-radius: 10px 10px 0 0;
}
.crm-enlarge {
	cursor: pointer;
}
.survey-start {
	position: relative;
}
#footer small {
	color: #DDD;
}
.child_question {
	display: none;
}
.nav-pills>li>a{
	text-align: left;
}
.modal-body td select, .modal-body td input[type='text'], .modal-body td input[type='number'], .modal-body td textarea, .dataTables_filter input[type="text"] {
	width: 390px;
	padding: 5px 10px;
	border: 1px solid #DDD;
	border-radius: 5px;
}
.dataTables_filter input[type="text"]{
	width: 50px;
	transition: all 1s;
}
.dataTables_filter input[type="text"]:focus {
	width: 200px;
}
.dataTables_paginate a:hover {
	background: #2b6591;
}
.child_question {
	transition: all 1s;
}
.highlight {
	background: #C5E4FF;
}
.modal-body select.question-choices {
	height: 100px;;
	transition: all 0.4s
}
.modal-body select.question-choices:focus{
	height: 300px;
}
.parent-container-form .remove-parent-form {
	display: none;
}
.navbar {
	border-radius: 0px;
}
.question-form{
	display: none;
}
.post-code-select {
	transition: all 0.4s;
}
.post-code-select.focus{
	border: 1px solid #225FFD;
}
.detail-wrapper {
	display: inline-block;
	width: 100%;
}
.item-label-details {
	width: 65px;
}
.admin-main-page ul {
	padding: 0;
}
.admin-main-page ul li {
	display: block;
	padding: 5px;
}
.admin-main-page ul li a i.fa {
	margin-right: 10px;
	width: 10px;
}
.admin-main-page ul li:hover {
	background: #2b6591;
}
.admin-main-page ul li:hover a {
	text-decoration: none;
	color: #FFF;
}
small.description {
    color: #7E7E7E;
    text-align: right;
    margin: 5px auto 0;
    display: inline-block;
    width: 100%;
}
.cdn-child-wrapper {
	width: 100%;
}
.btn.remove-text{
	background-color: #d43f3a;
	border-color: #c9302c;
}
p.description {
	background-color: #DEDEDE;
	padding: 2px 10px;
	border-radius: 10px;
}
.slick-menu-mask {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(0,0,0,0.2);
}
div.floating-menu {
	z-index: 2;
}
div.menu-content {
	position: fixed;
	top: 0;
	left: -165px;
	height: 100%;
	width: 200px;
	z-index: 3;
	transition: all 300ms;
	background: #2b6591;
	opacity: 0.5;
	color: #FFF;
}
div.menu-content h3 {
	font-size: 1.4em;
}
div.menu-content:hover,div.menu-content.show {
	opacity: 1;
}
div.menu-content.show{
	left: 0;
}
div.floating-menu{
	position:absolute;
	z-index:999!important;
	color:#FFF;
	font-size:30px;
	right:6px;
	cursor:pointer;

}	
div.floating-menu:hover{
	color: #2a8ce6;
}
div.main-menu-slick {
	width: 200px;
	margin-top: 47px;
	background: #333;
	height: 100%;
	position: absolute;
}
.page-main-slick {
	transition: all 300ms;
	position: relative;
	left: 0;
}
.page-main-slick.menu-enabled {
	left: 200px;
	position: absolute;
}
.admin-main-page ul li.parent > ul {
	display: none;
	left: 185px;
	position: absolute;
	margin-top: -22px;
	width: 175px;
	background: #2b6591;
	padding: 5px 5px 5px 15px;
}
.admin-main-page ul li.parent:hover > ul {
	display: block;
}
.admin-main-page a {
	color: #a7a7a7;
}
blockquote p {
	font-size: 12px;
}
.admin-main-page ul li.parent > ul li a {
	color: #C9C9C9;
}
.admin-main-page ul li.parent > ul li:hover a {
	color: #FFF;
} 
.report-description {
	margin-top: 1.2em;
}
.report-container {
	margin-top: 5em;
}
.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
	left: 0;
}
div.container.main {
	margin-top: 5em;
}
div.revenue-application > span {
	border-right: 1px solid #000;
	padding-right: 5px;
}
div.revenue-application > span:last-child {
	border: 0 none!important;
}
#agent-data-table tr td.agent-col{
	text-align: left;
	padding-left: 15px;
}
#agent-data-table tr td{
	transition: all 400ms;
	padding: 10px 0;
	text-align: center;
	border-left: 1px solid #ddd;
}

#agent-data-table tr:hover td {
	background: #17808A;
	color: #FFF;
	cursor: pointer;
}
#agent-data-table tr:hover td span {
	border-right: 1px solid #fff;
}
#agent-data-table thead tr th {
	font-size: 10px;
}
div.campaing-changer {
	display: inline-block;
	font-size: 10px;
}
div.page-title {
	text-align: center;
	width: 60%;
	color: #FFF;
	height: 26px;
	margin: 10px auto 10px;
}
div.page-title h4 {	
	color: #FFF;
	font-weight: bold;
	text-shadow: 1px 1px 0 #313131;
	font-size: 2em;
}
ul.icon-type {
	padding: 0;
}
ul.icon-type li {
	display: inline-block;
	padding: 0 7px;
	border: 1px solid #DDD;
	font-size: 1.5em;
	border-radius: 2px;
	width: 36px;
	text-align: center;
	transition: all 400ms;
}
ul.icon-type li a {
	color: #949494;
}
ul.icon-type li:hover, ul.icon-type li.active{
	border: 1px solid #777;
}
ul.icon-type li:hover a, ul.icon-type li.active a {
	color: #333;
}
ul.icon-type li.icon-title-wrapper {
	width: 150px;
	background: #222;
	border: 0 none;
	text-align: left;
	font-size: 1.2em;
	color: #FFF;
}
select.form-input.campaign-changed {
	padding: 5px 10px;
	border: 1px solid #DDD;
	background: #FFF;
	border-radius: 5px;
	width: 235px;
}
.space {
	margin: 1em;
}

.tab-content {
	display: none;
	opacity: 0;
}
.tab-content.active {
	display: block;
	opacity: 1;
	transition: all 400ms;
}
.tab-controls ul {
	padding: 0;
	margin: 0;
}
.tab-controls ul li {
	display: inline-block;
	width: 23%;
}

.tab-controls {
	display: inline-block;
}
.tab-controls ul li a{
	margin: 2px 10px;
	background: #2374B4;
	display: block;
	padding: 4px;
	float: left;
	height: 25px;
	width: 100%;
	text-align: center;
	color: #FFF;
}
.tab-controls ul li:hover a, .tab-control.active a{
	background: #FFF;
	color: #000;
	text-decoration: none;
}

.coach-meta {
	display: inline-block;
	background: #3F3F3F;
	padding: 10px;
	color: #FFF;
}

ul.list {
	margin: 0;
	padding: 0;
}

ul.list li {
	display: block;
	padding: 2px 0 10px 0;
}

.align-center {
	text-align: center;
}

.datepicker {
	z-index: 9999;
}
.notification-modal {
	position: fixed;
	width: 45%;
	background: #fefefe;
	color: #000000;
	z-index: 999;
	top: 25%;
	height: 390px;
	left: 25%;
	padding: 10px;
	border: 5px solid #222;
	box-shadow: 2px 2px 15px #000;
}
.notification-modal h2{
	color: rgb(171, 33, 33);
	text-transform: uppercase;
	font-size: 20px;
}
.agent-name-notif {
	width: 50%;
	display: inline-block;
}
.agent-notif-status {
	width: 20%;
	display: inline-block;
}
.notif-agent li{
	border-bottom: 1px solid #BDBDBD;
	display: block;
	padding: 5px;
}
.notif-agent {
	margin: 0 0 10px 0;
	height: 185px;
	padding: 10px;
	overflow-y: auto;
}

.agent-signin-modal {
	width: 30%;
	border: 5px solid #222;
	padding: 10px;
	background: #4385B8;
	position: absolute;
	z-index: 1;
	top: 25%;
	left: 33%;
}
.fa.watermark {
	font-size: 40em;
	color: #dedede;
}
.supression_warning {
	background: rgb(255, 253, 206);
}
.supression_warning {
	transition: all 400ms;
	-ms-transition: all 400ms;
	-o-transition: all 400ms;
	-webkit-transition: all 400ms;
}
.enable_this_question {
	background: #FFF;
}
.disable_question {
	background: rgb(255, 83, 83);
}

tr.on_going_survey td{
  	background: #dedede;
}
tr.Reject td{
    background: #F5837E;
}
tr.Validating td {
    background: #BAF9BF;
}


/*******PLANS*****/
.plan-display {
    background-color: #C12C2C;
    padding: 20px 10px;
    border-radius: 10px;
    margin: 0 10px 25px;
    font-size: 15px;
    color: #FFFFFF;
    border: 1px solid #dedede;
}

.plan-table tbody>tr>th{
    padding: 5px;
    font-weight: bold;
    font-size: 10px;
    width: 60%;
    text-align: left;
}

.plan-table-terms tbody>tr>th{
    padding: 5px;
    font-weight: bold;
    font-size: 10px;
    width: 20%;
    text-align: left;
}

.color-grey {
	color: #222;
}
.color-green {
	color: #015B0F;
}

.color-red {
	color: #AD1D1D;
}
.search-for-key {
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
}
span.cap_limit {
    display: block;
    float: right;
    color: #bababa;
}